<h3 class="text-monospace">Chat:</h3>
<hr>
<div class="app-mensajes" id="app-messages">
  <div *ngFor="let chat of chatService.chats" class="text-right">
    <span class="badge badge-success">Daniel</span>
    <p class="text-monospace text-white">{{ chat.message }}</p>
  </div>

  <!-- <div>
    <span class="badge badge-info">Jenny</span>
    <p class="text-monospace text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div> -->
 
</div>

<input type="text" class="form-control" name="message" (keyup.enter)="sendMessage()"
       [(ngModel)]="message" placeholder="Send Message...">