<h3 class="text-monospace">Chat:</h3>
<hr>
<div class="app-mensajes" id="app-messages">
  <div class="text-right">
    <span class="badge badge-success">Daniel</span>
    <p class="text-monospace text-white">Hello there,,,,,</p>
  </div>

  <div>
    <span class="badge badge-info">Jenny</span>
    <p class="text-monospace text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
 
</div>

<input type="text" class="form-control" name="message" (keyup.enter)="sendMessage()"
       [(ngModel)]="message" placeholder="Send Message...">